<div class="modal fade" id="comment-display-<%=post.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">All Comments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%# Modal Test %>
        <% @comments.each do |comment| %>
          <div class="card text-bg-light mb-3 od">
            <div class="card-header d-flex justify-content-between">
              <p><%= post.user.nickname %></p>
              <p><%= comment.created_at.strftime("%F") %></p>
            </div>
            <div class="card-body justify-content-center">
              <p class="card-text"><%= comment.content %></p>
            </div>
          </div>
        <% end %>
        <%# Modal Text %>
      </div>
      <div class="modal-footer">
        <%# Add a comment button here %>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new-comment-<%=post.id%>">
          Add a new comment
        </button>
        <%# Add a comment button ends here %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%# <button type="button" class="btn btn-primary">Understood</button> %>
      </div>
    </div>
  </div>
</div>
