<div data-controller="input-box" class="form-container">
  <%= simple_form_for entry, html: {data: {input_box_target: "form"}} do |f| %>
    <%= f.input :situation,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: { data: { input_box_target: "situation", action: "change->input-box#toggleOtherSituation" }, class: 'category-selector' },
            collection: Entry::SITUATIONS %>
    <div id="other_situation_input" data-input-box-target="textSituation">
    </div>
    <%= f.association :emotion,
                collection: emotions,
                as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: { data: { "input-box-target" => "emotion", action: "change->input-box#toggleOtherEmotion"}, class: 'category-selector'} %>
    <div data-input-box-target="childEmotion"></div>
    <div data-input-box-target="action">
      <%= f.input :action,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: { class: 'category-selector' },
            collection: ['Yes', 'No'],
            label: "Did you do the opposite action to how your emotion told you to act?" %>
    </div>
    <div data-input-box-target="consequence">
      <%= f.input :consequence,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: { class: 'category-selector' },
            collection: ['Yes', 'No'],
            label: "Did things go the way you wanted through your action?" %>
    </div>
    <%= f.submit class: 'btn btn-success'%>
  <% end %>
</div>
