<div class="container pt-4">
  <div class="d-flex justify-content-center">
    <h1>Entry History</h1>
  </div>
  <%# This is the start of the dropdown code %>
  <%= render "search" %>
  <%# This is the end of the dropdown code %>
  <%# <%= render "search-category" %>  <%# Change render name to correct one later  %>
  <% @entries.each do |entry| %>
    <div class="card text-bg-light mb-3 od">
      <div class="card-header d-flex justify-content-between">
        <p><%= entry.emotion.name.capitalize %></p>
        <p><%= entry.created_at.strftime("%F") %></p>
      </div>
      <div class="card-body d-flex justify-content-">
        <p class="card-text">Situation:<%= entry.situation %></p>
        <p class="card-text">Action: <%= entry.action %></p>
        <p class="card-text">Consequence: <%= entry.consequence %></p>
      </div>
    </div>
  <% end %>
</div>
