<div class="container pt-4">
  <div class="d-flex justify-content-center">
    <h1>Entry History</h1>
  </div>
  <%= render "search", emotions: @parent_emotions %>
  <%# This is the end of the dropdown code %>
  <%# <%= render "search-category" %>  <%# Change render name to correct one later  %>
  <% if @g3.present? %>
    <div class="container">
      <% if !Entry::SITUATIONS.include?(params[:query]) %>
        <h2> Most common situation : <%= @highest_value_situation %></h2>
      <% end %>
      <h3> Control rate : <%= @yes_percentage %>% </h3>
    </div>
  <% end %>
  <div class='entries'>
    <%# Pagy %>
    <div class="d-flex justify-content-center pt-3">
      <div class="row">
        <div class="col-12 ">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
    <div class='py-0 px-4 mt-n4 text-end'>
      <%= link_to entries_path(params.permit(:query, :datefilter).merge(format: :pdf)), target: "_blank" do %>
        <i class="fa-regular fa-file-pdf col-1 fs-3"></i>
      <%end%>
    </div>
    <%# Entries %>
    <%= render 'entries', entries: @entries %>
  </div>
</div>
