<div class="container pt-4">
  <div class="d-flex justify-content-center">
    <h1>Entry History</h1>
  </div>
  <%= render "search", emotions: @parent_emotions %>
  <%# This is the end of the dropdown code %>
  <%# <%= render "search-category" %>  <%# Change render name to correct one later  %>
  <div class='entries'>
    <p class="text-center mb-0">
      <% if !params[:query].blank? %>
        <%= pluralize @entries_count, "entry" %> for <code><%= params[:query] %></code>
      <% end %>
    </p>
    <%# Pagy %>
    <div class="d-flex justify-content-center pt-3">
      <div class="row">
        <div class="col-10 ">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-<%= @g3.present? ? 'between' : 'end' %>" style="width:95%">
      <% if @g3.present? %>
        <div class="entry-stat">
          <% if !Entry::SITUATIONS.include?(params[:query]) %>
            <p> Most common situation : <%= @highest_value_situation %></p>
          <% end %>
          <p> Emotion control rate : <%= @yes_percentage %>% </p>
        </div>
      <% end %>
      <%# PDF begining %>
      <div class='py-0 text-end mt-1 mb-1'>
        <%= link_to entries_path(params.permit(:query, :datefilter).merge(format: :pdf)), target: "_blank" do %>
          <i class="fa-regular fa-file-pdf fs-1"></i>
        <%end%>
      </div>
      <%# PDF ending %>
    </div>
    <%# Entries %>
    <%= render 'entries', entries: @entries %>
  </div>
</div>
