<div class="cards-container">
  <h3> <%= "#{Time.now.strftime("%a %d %b")}" %></h3>
  <h1> <%= "#{@greeting_message} #{current_user.full_name.split[0]}"  %></h1>
  <%# <%= render "carousel_post" %>
  <div class="charts-container row justify-content-center">
    <div class="chart-card col-12">
      <h2 class="text-center">Entries in the last month</h2>
      <%= render "heatmap" %>
    </div>
    <div class="pie-card col-12">
      <h2 class="text-center">Emotions in the last month</h2>
      <div class="d-flex">
        <div><%= render "emotions_pie_chart", data: @emotions_data%></div>
        <div class="message text-center pt-4"> You felt <span style="color:<%= Emotion::EMOTION_COLOR[@top_emotion_name] %>
        "><b><em><%= @top_emotion_name %></em></b></span> about your <b><em><%= @highest_value_situation %></em></b> most frequently. </div>
      </div>
    </div>
    <div class="pie-card col-12">
      <h2 class="text-center">Actions in the last month</h3>
      <%= render "action_bar_graph", data: @actions_data %>
    </div>
  </div>
</div>
