<%# display the all the posts %>
<div class="row justify-content-center p-3">
  <% posts.each do |post| %>
    <div class="card card-trip text-bg-light mb-3 od p-0">
      <div class="card-header d-flex justify-content-between">
        <h5><%= post.title %></h5>
        <div>
          <p class='badge text-bg-primary'><%= post.emotion.name %></p>
        </div>
      </div>
      <div class="card-body" data-controller='voting' data-voting-votes-value="<%=post.votes%>">
        <h5 class="card-title"><%= post.user.nickname %></h5>
        <p class="card-text"><%= post.content %></p>
        <div class="d-flex">
        <%= button_to 'feel related', upvote_post_path(post), class: 'badge text-bg-light mx-2', data: {action: "click->voting#upvote"}%>

        <p class='d-inline-block'>
          <strong data-voting-target='update'><%= post.votes %></strong>
        </p>
        </div>

        <br>
        <%# Add a comment button here %>
        <%# Add a comment button ends here %>
        <!-- See comments  -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comment-display-<%=post.id%>">
          See comments (<%= post.comments.count %>)
        </button>
        <!-- See comments end -->
      </div>
    </div>
    <%= render "comments/new_comment", post: post %>
    <%= render "comments/comments_display",comments: post.comments, post: post %>
  <% end %>
</div>
